# .gitignore - Fichiers à ne PAS versionner

# Environnement Python
__pycache__/
*.pyc
venv/
.env

# Modèles ML (trop gros pour GitHub)
models/*.pkl

# Fichiers système / OS
.DS_Store
Thumbs.db

# IDE / éditeurs
.vscode/
.idea/
